@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import 'nav.css';

:root {
  --primary-color: #2d033b;
  --secondary-color: #810ca8;
  --Tertiary-color: #c147e9;
  --quaternary-color: #e5b8f4;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  background: #2b2b31; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2b2b31,
    #222281
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b2b31,
    #222281
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 60px; */
  background-color: #6db3f2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./files/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 70%;
}

.movie-poster {
  align-self: flex-start;
}

.movie-poster img {
  border: 5px solid #fff;
  border-radius: 5px;
}

.movie-poster a {
  display: block;
}

.basic-btn {
  background-color: #de5073;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  text-transform: capitalize;
  padding: 10px;
}

.basic-btn.download-btn {
  background-color: var(--secondary-color);
  margin-top: 5px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-left: 10%;
  align-self: flex-start;
  padding-left: 20px;
}

.movie-title h1 {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  line-height: 3rem;
  font-size: 3rem;
  text-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4);
}

.movie-title h2 {
  font-size: 1.5rem;
  line-height: 8px;
}

.movie-quality {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.movie-quality a {
  background-color: #1b1b2366;
  border: 1px solid #ffffff29;
  padding: 5px 12px;
}

.rating {
  margin-bottom: 10px;
  white-space: nowrap;
}

.icon-rating {
  display: inline-block;
  position: relative;
  width: 75px;
  margin-right: 30px;
  background-color: transparent;
}

.icon-rating img {
  position: relative;
  top: 3px;
}

.movie-likes {
  font-size: 1.2em;
}

.icon-rating .fa-solid {
  font-size: 20px;
}

.fa-solid {
  color: #de5073;
}

.keywords {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 2rem;
}

.keyword {
  background-color: #1b1b2366;
  border: 1px solid #ffffff29;
  padding: 5px 12px;
  white-space: nowrap;
}

.mobile-movie-title {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  overflow: hidden;
}

.media_panel {
  display: flex;
  width: 80%;
  gap: 1%;
}

.media_panel * {
  width: 33%;
  object-fit: cover;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 30%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.actors {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 6rem;
  gap: 10%;
}

.overview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  flex: 2;
  text-align: left;
}

.cast {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.actor {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 1rem;
}

.actor img {
  width: 20%;
  border-radius: 50%;
}

.actor h6 {
  margin-left: 1rem;
}

/* Medai Query sections */

@media screen and (max-width: 1223px) {
  body {
    font-size: 0.8rem;
  }
  .movie-title h1 {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    line-height: 2rem;
    font-size: 2rem;
    text-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4);
  }

  .movie-title h2 {
    font-size: 1rem;
    line-height: 4px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }

  .movie-details {
    align-self: flex-end;
    font-size: 0.8em;
    margin-left: 2px;
  }

  .movie-poster {
    align-self: flex-start;
  }

  .movie-poster img {
    /* min-width: 100px; */
    width: 100%;
  }

  .movie-quality {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    order: 2;
  }

  .icon-rating {
    width: 40px;
    margin-right: 20px;
  }

  .keywords {
    flex-direction: column;
    align-items: flex-start;
    order: 3;

    margin-top: 0.5rem;
  }

  .movie-title {
    display: none;
  }

  .mobile-movie-title {
    display: block;
    width: 100%;
    flex-grow: 1;
  }

  .mobile-movie-title h1 {
    line-height: 2rem;
    font-size: 1.5rem;
    text-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4);
  }

  .mobile-movie-title h2 {
    font-size: 1rem;
    line-height: 8px;
  }

  .media_panel {
    flex-direction: column;
    align-items: center;
  }

  .media_panel img {
    width: 80%;
    object-fit: cover;
    margin-top: 1rem;
  }

  .iframe-container {
    width: 80%;
    padding-top: 50%;
  }
}
