@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #2d033b;
  --secondary-color: #810ca8;
  --Tertiary-color: #c147e9;
  --quaternary-color: #e5b8f4;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: #800080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #800080,
    #9e5561
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #800080,
    #9e5561
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* header { */
/* padding: 1rem; */
/* display: flex; */
/* justify-content: space-between; */
/* } */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    to right,
    #a70ba7,
    #b66e7a
  );

  width: 100%;
  height: 60px;
  /* display: flex;
  justify-content: space-between; */
}

nav ul {
  position: absolute;
  top: 0;
  left: 100px;
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin-left: 20px;
  display: inline-block;
}

nav a {
  color: var(--quaternary-color);
  text-decoration: none;
  padding-bottom: 10px;
}

nav a:hover {
  color: #e6e6e6;
  /* font-weight: bold; */
  border-bottom: solid #fff;
}

.prand-icon a:hover {
  border: 0;
}

.prand-icon_image {
  height: 60px;
}

#form {
  position: absolute;
  top: 5px;
  right: 5rem;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: var(--quaternary-color);
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

.icon {
  position: absolute;
  color: #e5b8f4;
  display: none;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 2rem;
  border: 0;
  height: 60px;
  z-index: 2;
  top: 0;
  right: 0;
}

.icon:hover {
  color: var(--secondary-color);
  display: inline-block;
  background-color: #da90f3;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  color: #e5b8f4;
  display: none;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 2rem;
  border: 0;
  height: 60px;
  top: 0;
  right: 80px;
}

.search-icon:hover {
  color: var(--secondary-color);
  display: inline-block;
  background-color: #da90f3;
  cursor: pointer;
}

main {
  /* display: flex;
  justify-content: center; */
  margin-top: 60px;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

/* .main-side--bar {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.side-bar img {
  width: 500px;
} */

/* .row {
  
} */

.movie {
  /* width: 300px; */
  height: 400px;
  margin: 5px;
  /* background-color: var(--secondary-color); */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  float: left;
  width: 24%;
  /* padding: 5px; */
}

.movie:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.movie img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.movie-info {
  color: #eee;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.5rem 0.5rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  position: relative;
  width: 66.6666%;
  top: -20px;
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  font-size: 1rem;
}

.movie-info .views {
  position: absolute;
  bottom: -5px;
}

.single-chart {
  width: 33%;
  position: absolute;
  top: -5px;
  right: 10px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9d00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.red .circle {
  stroke: #f11f1f;
}

.percentage {
  fill: rgb(240, 206, 206);
  font-size: 0.5em;
  text-anchor: middle;
}

@media screen and (max-width: 830px) {
  nav ul {
    padding-left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: all 0.6s ease-in;
    transform: translate(-50%, -600px);
    background-color: #8d51a1;
    margin-top: 112px;
  }

  nav ul[data-state="opened"] {
    animation: openMenu 0.6s ease-in forwards;
    display: block;
  }

  nav ul[data-state="closing"] {
    animation: closeMenu 0.6s ease-in forwards;
  }

  nav ul[data-state="closed"] {
    display: none;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
  }

  nav a {
    color: var(--quaternary-color);
    text-decoration: none;
    padding-bottom: 10px;
    width: 100%;
  }

  nav a:hover {
    color: #e6e6e6;
    /* font-weight: bold; */
    border-bottom: solid #fff;
  }

  #form {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 0; */
    /* transition: ; */
  }

  .search {
    background-color: transparent;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .show-search {
    display: block;
  }

  .icon {
    display: block;
  }

  .search-icon {
    display: block;
  }

  .hide {
    display: none;
  }

  .show {
    /* position: absolute; */
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  @keyframes openMenu {
    0% {
      position: absolute;
      transform: translate(-90px, -600px);
      opacity: 0;
    }

    100% {
      top: 70px;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @keyframes closeMenu {
    0% {
      top: 70px;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    100% {
      position: absolute;
      transform: translate(-90px, -600px);
      opacity: 0;
    }
  }

  .prand-icon a:hover {
    border: 0;
  }

  .movie {
    width: 60%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1018px) {
  .movie {
    width: 31.33%;
  }
}

@media screen and (max-width: 750px) {
  .movie {
    width: 47%;
  }
}

@media screen and (max-width: 540px) {
  .movie {
    width: 95%;
    height: 510px;
    /* margin-left: 10px; */
  }
}
